page-home {
  .home {
    background: #D2B4DE;
  }

  .odd {
    background-color: red;
  }

  .even {
    background-color: blue;
  }
  .btn{
    background: #8E44AD;
    color: #ffffff;
margin-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    font-size: 12px;

    padding-bottom:10px;
  }
}
