<html>
<head>
    <title>RightNow</title>
</head>
<body>
<p><strong>RightNow App</strong></p>

<div>Below is the password which u have set</div>

<p><b>Password:</b> <%= changedPassword %></p>

</body>
</html>