<html>
<head>
    <title>RightNow</title>
</head>
<body>
<p>Hi <strong><%=name%></strong> Welcome to RightNow App</p>

<div>Below is the password which u have set</div>

<p><b>Password:</b> <%= changedPassword %></p>


<div><strong>Thanks & Regards</strong></div>
<div><strong>RightNow-Let's Do It Together Team</strong></div>

</body>
</html>