<html>
<head>
    <title>RightNow</title>
</head>
<body>
<p><strong>RightNow App</strong></p>

<div>Hello <%= toemail %>></div>

<p><%=fromname%> (<%=fromemail%>) have send you an invitation to enjoy the RightNow-Let's Do It Together App services</p>



</body>
</html>