<html>
<head>
    <title>RightNow</title>
</head>
<p>
<p>Hi <strong><%=name%></strong> Welcome to RightNow App</p>
<div>Thanks for choosing us</div>

<div>Below are your details</div>
<p><b>Email:</b> <%= emailid %></p>
<p><b>Password:</b> <%= password %></p>

<div>We have created a random password, please login and then you can change your password.</div>


<p><div><strong>Thanks & Regards</strong></div>
<div><strong>RightNow-Let's Do It Together Team</strong></div></p>
</body>
</html>