<html>
<head>
    <title>RightNow</title>
</head>
<body>
<p><strong>Welcome to RightNow App</strong></p>
<div>Thanks for choosing us</div>

<div>Below are your details</div>
<p><b>Email:</b> <%= emailid %></p>
<p><b>Password:</b> <%= password %></p>

<div>We have created a random password, please login and then u can change your password.</div>
</body>
</html>