<html>
<head>
    <title>RightNow</title>
</head>
<body>
<p><strong>RightNow App</strong></p>

<div>Hi,</div>

<p>U hae a post  <%= post %></p>

<div><strong>Thanks & Regards</strong></div>
<div><strong>RightNow-Let's Do It Together Team</strong></div>

</body>
</html>