<html>
<head>
    <title>RightNow</title>
</head>
<body>
<p><strong>RightNow App</strong></p>

<div>Hello <%= username %></div>

<p>You have Unsubscribed for <b><%= categoryname %></b></p>

<p>We hope you had a nice experience</p>
<p>We would love to see you again</p>

</body>
</html>